<!doctype html>
<html lang="en">
    <head>
        <title>
            {{ page.title }} / Asperger Media
        </title>
        <link rel="stylesheet" href="/static/css/aspergermedia.css" media="screen">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="{{ page.robots}}">
        <meta name="pagename" content=" {{ page.meta-title }}">
        <meta name="description" content=" {{ page.meta-descr }}">
        <meta name='revisit-after' content='7 days'>
    </head>
    <body>
        <header>
            <div id="contact-bar">
                <div class="container-flex">
                    <ul id="quick-links">
                        <li id="fb-brand">
                            <a href="https://fb.me/aspergermedia" target="_new">
                                &nbsp;
                            </a>
                        </li>
                        <li id="ms-brand">
                            <a href="https://m.me/aspergermedia" target="_new">
                                &nbsp;
                            </a>
                        </li>
                        <li id="lk-brand">
                            <a href="https://linkedin.com/company/aspergermedia" target="_new">
                                &nbsp;
                            </a>
                        </li>
                    </ul>
                    <ul id="contact-links">
                        <li id="phone">
                            <a href="tel:+61280386324">
                               (02) 8038 6324
                            </a>
                        </li>
                        <li id="email">
                            <a href="mailto:hello@asperger.media">
                               hello@asperger.media
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav id="nav">
                <div class="container-flex">
                    <div id="logo">
                        <a href="/">
                            &nbsp;
                        </a>
                    </div>
                    <ul id="nav-actual">
                        <li>
                            <a href="/">
                                home
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                about
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/about/how-we-work">
                                        How We Work 
                                        <br>
                                        <small>
                                            And How We Can Help You
                                        </small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        Meet our Staff
                                        <br>
                                        <small>
                                            Who We Are; Our Credentials
                                        </small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/about/terms">
                                        Terms of Engagement
                                        <br>
                                        <small>
                                            And Our Privacy Policy, etc.
                                        </small>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/">
                                services
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/services/technology-consultancy">
                                        Technology Consultancy
                                        <br>
                                        <small>
                                            For General Business Projects
                                        </small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/services/tech-support">
                                        Ad-Hoc Tech Support
                                        <br>
                                        <small>
                                            For Irregular, Ongoing Work
                                        </small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/services/technology-procurement">
                                        Technology Procurement
                                        <br>
                                        <small>
                                            For Buying New Shiny Things
                                        </small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/services/website-maintenance">
                                        Website Maintenance
                                        <br>
                                        <small>
                                            For Updates and Minor Edits
                                        </small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/services/technology-business-consultancy">
                                        Tech Business Consultancy
                                        <br>
                                        <small>
                                            Assisting Other Tech Businesses
                                        </small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/services/technology-coaching">
                                        Technology Coaching
                                        <br>
                                        <small>
                                            For Learning To Do New Things
                                        </small>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/blog">
                                blog
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
            {{ content }}
        <footer>
            <div id="footer-hasbg">
                <div class="container-flex">
                    <dl>
                        <dt>
                            <dd>
                                At Asperger Media, There Are No Stupid Questions
                            </dd>
                        </dt>
                    </dl>
                </div>
            </div>
            <div id="footer-nobg">
                <div class="container-flex">
                    <div id="footer-copyright">
                        <p>
                            Copyright &copy; 2025  Asperger Media Pty Ltd
                        </p>
                    </div>
                    <div id="footer-socials">
                        <ul>
                            <li id="fb">
                                <a href="https://fb.me/aspergermedia" target="_new">
                                    &nbsp;
                                </a>
                            </li>
                            <li id="ms">
                                <a href="https://m.me/aspergermedia" target="_new">
                                    &nbsp;
                                </a>
                            </li>
                            <li id="li">
                                <a href="https://linkedin.com/company/aspergermedia" target="_new">
                                    &nbsp;
                                </a>
                            </li>
                            <li id="ph">
                                <a href="tel:+61280386324">
                                    &nbsp;
                                </a>
                            </li>
                            <li id="em">
                                <a href="mailto:hello@asperger.media">
                                    &nbsp;
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            // Scroll past and the navbar is fixed. Moving to see if it works
            // When the user scrolls the page, execute myFunction
            window.onscroll = function() {navScroll()};
            // Get the header
            var header = document.getElementById("nav");

            // Get the offset position of the navbar
            var sticky = header.offsetTop;

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function navScroll() {
                if (window.pageYOffset > sticky) {
                header.classList.add("fixed");
                } else {
                header.classList.remove("fixed");
                }
            }
        </script>
    </body>
</html>